.homepage {
  margin: 2.5rem;
  height: calc(100vh - 5rem);
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.7),
      rgba(36, 42, 46, 0.7)
    ),
    url('../../../public/bg.jpeg');
  background-size: cover;
}

.homepage section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.homepage h1 {
  color: #fff;
  font-size: 4.5rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.homepage button {
  outline: none;
  background-color: transparent;
  border: 0.1rem solid white;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  transition: 0.5s;
}

.homepage button:hover {
  cursor: pointer;
  background-color: #ffffffa5;
  color: #000000e6;
  padding: 1rem 2rem;
}
